*{
    margin:0;
    padding:0;
    
}

html{
    font-family: 'Montserrat', sans-serif;
}

header{
    height:90px;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size:25px;


}
.header-nav {
    color: #1BACC6;
    text-decoration:none;
    margin: 40px;
}

.header-nav:hover{
    color:#26272e;
}

.logo {
 height: 75px;
 width:auto;
 justify-content: left;
 margin:20px;
}

body{
    background-color: white;
    justify-content:center;
    display:flex;
    flex-direction:column;
    
}

h1{
    color:#1bacc6;
    align-self: center;
    margin: 25px;
    font-size:45px;
}

.frontpage-container1{
    display:flex;
    justify-content: center;

}

.welcome-image{
    height:400px;
    width:auto;
}

.welcome-container{
    height:400px;
    width:400px;
    background-color:#1BACC6;
    color: #f3eff1;
    font-size:23px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.welcome-container h2{
    margin:10px;
}

.welcome-container p{
    margin:20px;
}

.frontpage-banner{
    background-color:#26272e;
    color:#f3eff1;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin-top:30px;
}

.frontpage-banner p{
    margin:20px 40px;
}

.frontpage-examples{
    background-color:white;
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin: 30px 0;

}

.frontpage-examples img{
    height:300px;
    width:300px;
    border-radius:5px;
    margin: 30px 30px 20px 30px;

}

.thumbnails{
    height:400px;
    width:400px;
    background-color: #1BACC6;
    color:#f3eff1;
    font-size:28px;
    display:flex;
    flex-direction:column;
    align-items:center; 
    border-radius: 5px;

}


footer{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:#26272e;
    height:100px;

}
.footer-nav a{
    color: #f3eff1;
    text-decoration:none;
    margin: 40px;

}

.footer-info p{
    display:flex;
    flex-direction:row;
    justify-content: right;
    margin-right:20px;
    font-size:14px;
    width:400px;
    color: #f3eff1;

}
