*{
    margin:0;
    padding:0;
    
}

html{
    font-family: 'Montserrat', sans-serif;
}


strong{
    text-decoration: none;
    color:#1BACC6;
}

strong:hover{
    color:white;
}

header{
    height:90px;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size:25px;


}
.navbar{
    overflow: hidden;
}

.navbar a{
    float:left;
    text-align:center;
    text-decoration:none;
}

.dropdown{
    float:left;
    overflow:hidden;
}

.dropdown .dropbutn{
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color:#26272e;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size:1.2rem;
}

.dropdown-content a {
    float: none;
    color: #1BACC6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* .dropdown-content a:hover {
    background-color: 
  } */

  .dropdown:hover .dropdown-content {
    display: block;
  }


.header-nav, .dropdown{
  
    color: #1BACC6;
    text-decoration:none;
    margin: 40px;
 
}

.header-nav:hover{
    color:#26272e;
}

.logo {
 height: 75px;
 width:auto;
 justify-content: left;
 margin:20px;
}
.tagline{
    justify-content: center;
    background-color: white;
    width:100%

}
body{
    background-image: url(../images/background2.jpg);
    background-attachment: fixed;
}

h1{
    color:#1BACC6;
    align-self: center;
    margin: 25px;
    font-size:3vw;
}

.frontpage-container1{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:580px;
    width:90%;
    margin:auto;
 

}

.welcome-image{
    height:580px;
    width:auto;
    margin:40px 0px;
   
}

.welcome-container{
    height:580px;
    width:50%;
    background-color:#1BACC6;
    color: #f3eff1;
    font-size:23px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin:40px 0px;
   
}

.welcome-container h2{
    margin:5% 10%;

}

.welcome-container p{
    margin: 0 10%;
   
}

.welcome-container a{
    text-decoration: none;
}

.front-page-button{
    background-color:white;
    color:#1BACC6;
    height:50px;
    width:200px;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
}

.front-page-button:hover{
    border:white;
    background-color:#26272e;
    color:white;
    
}

.frontpage-banner{
    background-color:#26272e;
    color:#f3eff1;
    height:250px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin-top:40px;


}

.frontpage-banner p{
    margin:20px 100px;
    font-size:20px;
}

.frontpage-banner h2{
    font-size: 30px;
}

.frontpage-examples{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    margin:30px 5% 30px 5%;
    width:90%;

}

.frontpage-examples img{
    height:300px;
    width:300px;
    border-radius:5px;
    margin: 30px 30px 20px 30px;

}

.thumbnails{
    height:400px;
    width:350px;
    background-color: #1BACC6;
    color:#f3eff1;
    font-size:28px;
    display:flex;
    flex-direction:column;
    align-items:center; 
    border-radius: 5px;

}

.thumbnails a{
    text-decoration:none;
    color:#f3eff1;
    font-size:28px;
    display:flex;
    flex-direction:column;
    align-items:center; 
}

.thumbnails:hover{
    background-color:#26272e;
    color: white;
}


footer{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:#26272e;
    height:100px;

}
.footer-nav a{
    color: #f3eff1;
    text-decoration:none;
    margin: 40px;

}

.footer-info p{
    display:flex;
    flex-direction:row;
    justify-content: right;
    margin-right:20px;
    font-size:14px;
    width:400px;
    color: #f3eff1;

}

.contact-us{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.main-banner{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin:30px 5% 30px 5%;
    background-color:white;
    height:100px;
    width:90%;
}

.contact-us img{
    height:300px;
    width:300px;
    margin:20px;
    
}

.contact-us-left{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:#1BACC6;
    color:white;
    height: 100%;
    width:30%;
}

.contact-us-right{
    width:60%;
    background-color:white;
    color:#1BACC6;
}

.contact-us-right a{
    text-decoration: none;
    width:70%;
}
form{
    width:100%;
    display:flex;
    flex-direction:column;
}

input[type=text], input[type=tel], input[type=email], [type=submit]{
    width:30%;
    margin: 10px 0 10px 0;
    padding: 12px 20px;
    font-size: 1rem;
   
}
.textbox{
    margin: 0 20px 0px 20px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.textbox input{
    background-color:#1BACC6;
    color:white;
    border-radius:5px;
    margin:auto;
    height:50px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    border:none;
}

.textbox a{
    width:100%;
}

.textbox input:hover{
    border:white;
    background-color:#26272e;
    color: white;
}

textarea{
    width:100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    font-size: 0.8rem;
 
}
.contact-info{
    width:80%;
    margin:20px;
}

.contact-info-top{
    width:80%;
    margin:40px 20px 20px 20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:1.2rem;
}

iframe{
    margin:20px;
}

.form-row{
    margin: 10px 20px 0px 20px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}

.form-row label{
    margin: 0px 5px;
}

.form-checks{
    margin-left:20px;
    margin-top:10px;
    display:block;
    flex-direction: column;

}

.form-checks h3{
    margin:2.5% 0 2.5% 0;
}

.about-us-container1{
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    margin: 0 5% 30px 5%;


}

.about-us-container1 img{
    height:auto;
    width:48%;
}

 .about-us-container2 img{
    height:275px;
    width: auto;
    border-radius:50%;
    border-style:solid;
    border-color: #1BACC6;
    border-width: 0.7vw;
}


.about-us-container2{
    margin-top:30px;
    height: 25vw;
    background-color: #26272e;
    color:#f3eff1;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-size:2rem;
}

.about-us-left{
    margin: 5%;
}

.about-us-left img{
    width:100%;
    height:auto;
    max-width:18vw;
}

.about-us-right{
    margin: 5% 5% 5% 0;
    font-size:2vw;
}

.services{
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    height:400px;
    margin: 0 5%;
}

.services-box{
    height:350px;
    width:48%;
    background-color:#1BACC6;
    color:#f3eff1;
    margin: 30px 0 0 0;
    font-size:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}

ul{
    margin: 5%;
    list-style-type:square;
}

li{
    margin-top:5px;
}

.testimonial-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 0 5% 30px 5%;
}

.testimonials{
    height:350px;
    width: 23%;
    background-color: #26272e;
    color: #f3eff1;
    border-radius: 5px;
    font-size:1.2rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

}

.testimonials p{
   margin: 5% 5%;
}

.process-container1 {
    width:90%;
    margin: 0 5%;
    display:grid;
    place-items:center;
    justify-content: center;
    place-items:center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
  

}


.process-box{
    background-color:#1BACC6;
    color:#f3eff1;
    height: 250px;
    width: 400px;
    width: 400px;
    margin:30px 0;
  
  
    border-style:solid;
    border-width: 10px;
    border-color: #f3eff1;
}
.process-box h2{
    margin:5%;
    display:flex;
    justify-content:center;
    font-size:1.4rem;
}
.process-box p{
    margin: 0 5% 5% 5%;
    margin: 0 5% 5% 5%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    font-size:20px;
    font-size:20px;
}

.process-container2{
    width:90%;
    height:400px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    margin: 0 5% 30px 5%;
}

.estimate{
    height:300px;
    width:100%;
    background-color: #f3eff1;
    color: #1BACC6;
    font-size:2rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.estimate h2{
    margin-top:20px;
    margin-bottom:50px;
    margin-top:20px;
    margin-bottom:50px;
}

.process-button{
    background-color:#1BACC6;
    color:#f3eff1;
    height:100px;
    width:500px;
    border-radius:5px;
    display:flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size:1.5rem;
    margin-bottom:30px;
    margin-bottom:30px;
}


.process-button:hover{
    border:white;
    background-color:#26272e;
    color:white;

}

.main-gallery{
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    margin: 0 5% 30px 5%;
  
}

.galleryheader{
    display:flex;
    justify-content:center;
    align-items: center;
    color: #f3eff1;
    background-color: #26272e;
    width: 100%;
    height:50px;
    border-radius: 15px 15px 0 0;
}

img.imghover:hover{
    filter:brightness(110%);
}
.main-gallery img{
    width:auto;
    height: 450px;
    border-radius: 0 0 15px 15px;
}

.gallery-thumbnail{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

.gallery-page{
    width:90%;
    margin: 0 5% 30px 5%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
   

}
.gallery-page img{
    display:flex;
    justify-content: center;
    align-items:center;
    height:500px;
    width: 90%;
    margin: 0 0 5% 0;
    border-style: solid;
    border-color:white;
    border-width:10px;
}